/**
   
   Copyright 2014 Saurabh Srivastava <ssri@cse.iitk.ac.in>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
**/
div.banner {text-align: center;}
div.admin-panel {text-align: center; border: 1px gray dashed; height: 600px;}
div.polling-booth {border: 1px gray solid; height: 280px; float: left; margin: 10px 10px; min-width: 200px;}
span.polling-booth-ip {font-size: 22px; font-weight: bold; color: darkred; background-color: lightcyan; display: block; padding: 10px 10px;}
div.vote {background-color: lightpink; padding: 5px; margin-bottom: 2px;}
hr {margin: 0px 0px 8px 0px;}
botton {cursor: pointer;}
div#overlay {text-align: center; position: absolute; left: 0px; right:0px; top:0px; bottom: 0px; overflow: hidden; display: none; opacity:0.7; filter:alpha(opacity=70); background-color: white; z-index: 999;}

