/**
   
   Copyright 2014 Saurabh Srivastava <ssri@cse.iitk.ac.in>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
**/
div.banner {text-align: center;}
div.rollno {text-align: center; font-style: italic; font-size: 18px; padding: 5px 0px 5px 0px;}
form {text-align: center; border: 1px gray dashed; padding-top: 20px;}
div.post {padding: 5px 10px 10px 10px; border: 1px black solid; margin: 10px 5px 5px 5px;}
span.post-name {font-size: 25px; font-family: Arial, Helvetica, Sans-serif; color: darkred;}
span.post-name b{color: blue;}
div.candidate {float: left; margin: 5px 10px 5px 10px;}
input.vote { margin: 20px; background-color: lightgoldenrodyellow; color: darkred; height: 40px; width: 80px; cursor: pointer; font-weight: bold; font-size: 16px;}
