/**
   
   Copyright 2014 Saurabh Srivastava <ssri@cse.iitk.ac.in>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
**/
div.banner {text-align: center;}
h2 {color: darkblue;}
div#result {border: 1px gray dashed; padding: 10px;}
div.post {border: 1px darkred solid; padding: 5px; margin: 5px;}
span.post-name {font-size: 22px; font-weight: bold; color: darkgreen;}
div.candidate {margin: 3px;}
span.candidate-name {font-style: bold; font-size: 20px; color: magenta;}
span.votes {font-style: italic; font-size: 18px; color: red; background-color: cyan;}
